[Unit]
Description=OctoPrint

[Service]
Restart=always
RestartSec=10
ExecStart=/home/pi/OctoPrint/venv/bin/octoprint serve
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
